<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Tasks</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <app-tasks-add></app-tasks-add>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-tasks-list></app-tasks-list>
          </div>
        </div>
      </div>
      <div class="card-footer">
          <h6>Tasks App</h6>
          <p class="card-text">A full stack webapp made with Angular and Spring Boot </p>
      </div>
    </div>
  </div>
  <div class="col-md-2">&nbsp;</div>
</div>
